{% extends "base.html" %} {% block conteudo %}
<div class="conteudo-principal">
    <h2>Editar Professor</h2>

    <div class="conteudo-formulario">
        <form method="post">
            <div class="campos-formulario">
                <label for="nome_professor">Nome:</label>
                <input
                    type="text"
                    id="nome_professor"
                    name="nome_professor"
                    value="{{ professor[1] }}"
                    required
                />
            </div>

            <div class="campos-formulario">
                <label for="cpf_professor">CPF:</label>
                <input
                    type="text"
                    id="cpf_professor"
                    name="cpf_professor"
                    value="{{ professor[2] }}"
                    required
                />
            </div>

            <div class="campos-formulario">
                <label for="telefone_professor">Telefone:</label>
                <input
                    type="text"
                    id="telefone_professor"
                    name="telefone_professor"
                    value="{{ professor[3] }}"
                />
            </div>

            <div class="campos-formulario">
                <label for="email_professor">E-mail:</label>
                <input
                    type="email"
                    id="email_professor"
                    name="email_professor"
                    value="{{ professor[4] }}"
                />
            </div>

            <div class="checkbox">
                <label for="ativo_professor">Ativo:</label>
                {% if professor[5] == 1 %}
                <input
                    type="checkbox"
                    id="ativo_professor"
                    name="ativo_professor"
                    checked
                />
                {% else %}
                <input
                    type="checkbox"
                    id="ativo_professor"
                    name="ativo_professor"
                />
                {% endif %}
            </div>

            <div class="campos-formulario">
                <label for="formacao_professor">Formação:</label>
                <input
                    type="text"
                    id="formacao_professor"
                    name="formacao_professor"
                    value="{{ professor[6] }}"
                />
            </div>

            <div class="campos-formulario">
                <label for="especialidade_professor">Especialidade:</label>
                <input
                    type="text"
                    id="especialidade_professor"
                    name="especialidade_professor"
                    value="{{ professor[7] }}"
                />
            </div>

            <button type="submit">Salvar</button>
        </form>

        <a href="/listar/professores" class="botao-primario">Voltar</a>
    </div>
</div>

{% endblock %}
