{% extends "base.html" %} {% block conteudo %}
<div class="conteudo-principal">
    <h2>Editar Curso</h2>

    <div class="conteudo-formulario">
        <form method="post">
            <div class="campos-formulario">
                <label for="nome_curso">Nome:</label>
                <input
                    type="text"
                    id="nome_curso"
                    name="nome_curso"
                    value="{{ curso[1] }}"
                    required
                />
            </div>

            <div class="campos-formulario">
                <label for="classificacao_curso">Classificação:</label>
                <input
                    type="text"
                    id="classificacao_curso"
                    name="classificacao_curso"
                    value="{{ curso[2] }}"
                    required
                />
            </div>

            <div class="campos-formulario">
                <label for="ativo_curso">Ativo:</label>
                {% if curso[3] == 1 %}
                <input
                    type="checkbox"
                    id="ativo_curso"
                    name="ativo_curso"
                    checked
                />
                {% else %}
                <input type="checkbox" id="ativo_curso" name="ativo_curso" />
                {% endif %}
            </div>

            <div class="campos-formulario">
                <label for="descricao_curso">Descrição:</label>
                <input
                    type="text"
                    id="descricao_curso"
                    name="descricao_curso"
                    value="{{ curso[4] }}"
                    required
                />
            </div>

            <button type="submit">Salvar</button>
        </form>

        <a href="/listar/cursos" class="botao-primario">Voltar</a>
    </div>
</div>

{% endblock %}
